<?xml version="1.0" encoding="utf-8"?>
<blueLeetUCodeFirst xmlns="BlueLeet://uCodeFirst" silentThrowOnError="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="BlueLeet://uCodeFirst ../../../packages/BlueLeet.UCodeFirst.0.9.14/uCodeFirst.xsd">
  <synchronization mode="Force" cacheModels="true">
    <includedAssemblies>
      <assemblie name="UmbracoTest.Web" />
    </includedAssemblies>
    <managers>
      <dataTypes defaultInheritBase="true" />
    </managers>
  </synchronization>
</blueLeetUCodeFirst>